<div class="container">
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft Logo">
    <h2>Microsoft Business Cards</h2>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png" alt="Apple Logo">
    <h2>Apple Business Cards</h2>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="Google Logo">
    <h2>Google Business Cards</h2>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo">
    <h2>Facebook (Meta) Business Cards</h2>
  </div>
</div>
